body{
	background-image: url("img/depart.png")
	background-repeat: no-repeat;
}

img {
	background-repeat: no-repeat;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}
h2{
	margin-top: -10px !important;
}